body {
    background-color: rgb(65, 64, 64);
}

.btnSize{
    margin: 20px auto;
    display: flex;
    font-size: 15px;
}

.container {
    margin: 0 auto;
    background-color: black;
    width: 600px;
    height: 600px;
    display: flex;
}

.div-container {
    background-color: aqua;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.grid-item {
    background-color: wheat;
    flex: 1;
    border: 1px solid #8a8181;
}